body {
    margin: 0;
    padding: 0;
    font-family: "Roboto", "Arial", sans-serif;
    font-size: 16px;
    line-height: 22px;
    font-weight: normal;
    color: #ffffff;
    background-color: #849d8f;
}
a {
  text-decoration: none;
}
.visually-hidden {
    position: absolute;
    clip: rect(0 0 0 0 );
    width: 1px;
    width: 1px;
    margin: -1px;
}

/* Навигационное меню */

.nav-list {
    list-style: none;
    color: #ffffff;
}
.nav-link {
    color: inherit;
    font-weight: bold;
    line-height: 18px;
    border-bottom: 1px solid #a9bfb3;
    border-radius: 45px;
}

.nav-link:hover,
.nav-link:focus {
    outline: none;
    background-color: #f7f6f3;
    border: 1px solid #ffffff;
    color: #333333;
    border-radius: 45px;
} 
.nav-link:active {
    box-shadow: inset 0px 2px 1px 0px rgb(105, 105, 105);
    border: none;
}

.nav-item{
    position: relative;
}
.submenu {
    list-style: none;
    background-color: #f8f7f4;
    color: #323232;
    text-align: left;
    border-radius: 5px;
    box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.4);
    display: none;
    position: absolute;
    left: 0px;
    margin: 0;
    padding: 0;
}
.nav-item:hover .submenu,
.nav-item:focus .submenu {
    display: block;
    z-index: 10;
}
.submenu-link {
    color: inherit;
    font-size: 14px;
    font-weight: normal;
    line-height: 16px;
}
.submenu-item:first-of-type {
    border-bottom: 1px solid #d1d0ce;
}
.submenu-item:not(:first-of-type):hover ,
.submenu-item:not(:first-of-type):focus {
    background-color: #fbded7;
    outline: none;
}
.submenu-item:not(:first-of-type):active {
    background-color: border-color: rgba(249, 172, 159, 0.3); 
}
.nav-item .active, 
.active:not(:first-of-type):hover,
.active:not(:first-of-type):focus,
.nav-item .active:hover, 
.nav-item .active:focus {
    color: #ffffff;
    background-color: #d07058;
    border: none;
    box-shadow: none;
    outline: none;
}

/* Пользовательские кнопки */
.user-btns {
    list-style: none;
}
.user-btn{
    position: relative;
}

.form-hidden {
    display: none;
    position: absolute;
}
.user-btn:hover .form-hidden,
.user-btn:focus .form-hidden {
    display: block;
    outline: none;
}
.user-btn-image {
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 45px;
    border: none;
    font-size: 14px;
    line-height: 16px;
    font-weight: normal;
    color: #ffffff;
}
.user-btn-image:first-of-type {
    border-radius: 50%;
}

.user-btn-image:hover img, 
.user-btn-image:focus img {
    filter: invert(1);
}
.user-btn-image:hover, 
.user-btn-image:focus {
    background-color: #ffffff;
    color: #323232;
    outline: none;
} 
.cart-complete,
.cart-complete:hover img,
.cart-complete:focus img {
    filter: none;
    background-color: #f7f6f3;
    color: #323232;
    outline: none;
}
.user-btn-image .full-cart, 
.cart-complete .empty-cart {
    display: none;
}
.cart-complete .full-cart {
    display: inline;
}

.form-hidden {
    background-color: #f8f7f4;
    min-width: 277px;
    border-radius: 6px;
    box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.4);
    color: #323232;
    font-weight: normal;
    font-size: 13px;
    line-height: 16px;

    padding-bottom: 20px;
    padding-top: 20px;
}
.form-link {
    color: #323232;
    font-size: 13px;
    line-height: 24px;
    font-weight: normal;
    border-bottom: 1px solid rgba(50, 50, 50, 0.3);
}
.table-total {
    border-top: 1px solid #cacac7;
    font-size: 15px;
    line-height: 18px;
    font-weight: bold;
    text-align: right;
}

/* Кнопки x */
.delete-product {
    font-size: 0;
    border: none;
    background-color: inherit;
    width: 25px;
    height: 25px;
    position: relative;
}
.delete-product::after {
    content: "";
    width: 1px;
    height: 15px;
    position: absolute;
    background-color: #323232;
    top: 5px;
    left: 15px;
    transform: rotate(45deg);
}
.delete-product::before {
    content: "";
    width: 1px;
    height: 15px;
    position: absolute;
    background-color: #323232;
    top: 5px;
    left: 15px;
    transform: rotate(-45deg);
}

/* Кнопки по всему документу */
.button {
    font-size: 18px;
    line-height: 24px;
    font-weight: bold;
    color: #ffffff;
    border-radius: 45px;
    border: none;
    background-color: #ed5a3d;
    background-image: linear-gradient(rgb(242, 104, 67), rgb(231,74,53));
    box-shadow: 0px 2px 2px 0px rgba(172, 16, 0, 0.64);
}
.button:hover, 
.button:focus {
    background-image: linear-gradient( #f58669, #ec6f5e);
    box-shadow: 0px 2px 2px 0px #ac1000;
    background-color: #f17c64;
    outline: none;
}
.button:active {
    background-image: linear-gradient( #d74632, #e1613e);
    box-shadow: inset 0px 2px 2px 0px #942718;
    background-color: #dc5539;
}

/* Блок контакты */
.text-time {
    font-size: 14px;
    line-height: 16px;
    font-weight: bold;
}
.text-tel {
    font-size: 22px;
    line-height: 24px;
    font-weight: bold;
    color: inherit;
}

/* Слайдер */
.slider-list {
    list-style: none;
    position: relative;
    min-height: 400px;
}
.slide-text {
    font-size: 60.468px;
    font-weight: bold;
    line-height: 1.006;
    text-align: center;
}
.slide-hidden {
    display: none;
}
.slide:nth-of-type(1) {
    display: block;
    position: absolute;
    background-image: url(../img/ice-cream-1.png);
    background-repeat: no-repeat;
    background-size: 1045px 881px;
}
.slide:nth-of-type(2) {
    display: block;
    background-image: url(../img/ice-cream-2.png);
    background-repeat: no-repeat;
    background-size: 1065px 859px;
}
.slide:nth-of-type(3) {
    display: block;
    background-color: #849d8f;
    background-image: url(../img/ice-cream-3.png);
    background-repeat: no-repeat;
    background-size: 1079px 854px;
}
.slider-control {
    font-size: 0;
    border: 2px solid #ffffff;
    background-color: none;
    border-radius: 50%;
    background-color: #849d8f;
    width: 21px;
    height: 21px;
}
.slider-btn {
    font-size: 32px;
    line-height: 44px;
    font-weight: bold;
}
.slider-control:hover, 
.slider-control:focus {
    background-color: rgba(248, 247, 244, 0.4);
    cursor: pointer;
    outline: none;
}

.slider-controls .active, 
.slider-control:active {
    background-color: #ffffff;
}


/* Блоки промо */
.promo-items {
    list-style: none;
}
.promo-item {
    background-color: #c91e3a;
    background-image: url(../img/background-crimson.jpg);
    background-repeat: no-repeat;
    background-size: auto;
    max-height: 229px;
    max-width: 560px;
    overflow: auto;
    border-radius: 14px;
}
.promo-item:last-of-type {
    background-color: #532914;
    background-image: url(../img/background-chocolate.jpg);
}
.promo-title {
    font-size: 35px;
    line-height: 41px;
    font-weight: bold;
}
.promo-text {
    font-size: 18px;
    line-height: 22px;
    font-weight: bold;
}

/* Блоки товаров */
.goods-items {
    list-style: none;
}

goods-item {
    position: relative;
}
.goods-item::before {
    content: "";
    background-color: #ffffff;
    background-image: url(../img/hit.svg);
    width: 61px;
    height: 61px;
    border-radius: 50%;
    position: absolute;
}
.goods-item-image {
    border-radius: 50%;
}
.goods-text {
    font-size: 45px;
    font-weight: bold;
    text-align: left;
    text-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
    position: absolute;
    margin-top: -55px;
}
.goods-text span {
    font-size: 30px;
}
.text-description {
    font-weight: 500;
    border-bottom: 1px solid #a9bfb3;
}
.goods-item:hover,
.goods-item:focus {
    border-radius: 5px;
    background-color: rgba(248, 247, 244, 0.2);
    box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.4);
}

/* Описание магазина */
.info-list {
    list-style: none;
}
.description-shop{
    background-image: url(../img/pattern.jpg);
    background-repeat: repeat;
    background-color: #e6d6b5;
    color: #323232;
}
.title-info {
    font-size: 24px;
    font-weight: 500;
    line-height: 30px;
}
.info-text {
    position: relative;
}
/*
selector::before {
    content: "";
    background-image: url(../img/mini-cream.svg);
    width: 49px;
    height: 49px;
    position: absolute;
}
selector::before {
    content: "";
    background-image: url(../img/leaf.svg);
    width: 49px;
    height: 49px;
    position: absolute;
}
selector::before::before {
    content: "";
    background-image: url(../img/cow.svg);
    width: 49px;
    height: 49px;
    position: absolute;
}
selector::before::before {
    content: "";
    background-image: url(../img/Thermometer.svg);
    width: 49px;
    height: 49px;
    position: absolute;
}
*/

/* Блоки новости + подписка */
.row-box {
    background-color: #ffffff;
    color: #323232;
    height: 220px;
    width: 560px;
    border-radius: 14px;
}
.news {
    font-weight: 500;
    background-image: url(../img/background-strawberry.png);
    background-repeat: no-repeat;
    background-size: auto;
}
.news-blog {
    color: inherit;
    font-weight: bold;
    font-size: 24px;
    line-height: 30px;
    border-bottom: 2px solid #323232;
    width: 100px;
}
.news a:hover,
.news a:focus,
.news a:active {
    color: #e84d37;
    border-color: rgba(236, 89, 60, 0.3);
    outline: none;
}


.subscribe {
    background-image: repeating-linear-gradient(-45deg, #f8f7f4 0px, #f8f7f4 10px, #92cdff 10px, #92cdff 20px, #f8f7f4 20px, #f8f7f4 30px, #fe9e90 30px, #fe9e90 40px, #f8f7f4 40px);
}
.subscribe-bakcground {
    background-color: #f8f7f4;
    color: #5a5a5a;
}

/* Карта */

.contact {
    background-color: #fdfefe;
    color: #323232;
}
.address-text {
    font-size: 14px;
    line-height: 20px;
    color: inherit;
}
.address-text b {
    font-size: 18px;
    line-height: 24px;
    font-weight: bold;

}

/* Соц. сети */

.social-list {
    list-style: none;
}
.social-button {
    width: 32px;
    height: 32px;
    background-repeat: no-repeat;
    background-size: auto;
    opacity: 0.8;
    border: 2px solid rgba(255, 255, 255, 0.5);
    border-radius: 50%;
}
.social-link {
    font-size: 0;
}

/* Ссылки в футере */

.links-list {
    list-style: none;
}
.info-link {
    font-size: 13px;
    line-height: 18px;
    font-weight: normal;
    color: inherit;
    border-bottom: 1px solid #a9bfb3;
}
.info-link span {
    font-weight: bold;
    position: relative;
}
.info-link span::before {
    content: "";
    background-image: url(../img/heart.svg);
    width: 15px;
    height: 13px;
    position: absolute;
    top: 2px;
    right: 115px;
    border: none;
}

.info-link:hover,
.info-link:focus,
.info-link:active {
    color: #ffbc9e;
    border-color: rgba(249, 172, 159, 0.3);
    outline: none;
}

/* Копирайт */

.text-copyright {
    font-size: 12px;
    line-height: 18px;
    font-weight: normal;
}
.copyright-link {
    font-size: 12px;
    line-height: 18px;
    font-weight: normal;
    color: inherit;
    border-bottom: 1px solid #a9bfb3;
}
.copyright a:hover, 
.copyright a:focus,
.copyright a:active {
    color: #ffbc9e;
    border-color: rgba(249, 172, 159, 0.3);
    outline: none;
}

/* Попап */

.popup {
    background-color: #f8f7f4;
    color: #323232;
}
.popup-title {
    font-size: 24px;
    line-height: 28px;
    font-weight: 500;
}
.popup-close {
    font-size: 0;
    width: 50px;
    height: 50px;
    position: relative;
    border: none;
    background-color: inherit;
}
.popup-close::before {
    content: "";
    width: 2px;
    height: 20px;
    position: absolute;
    background-color: #231f20;
    top: 10px;
    left: 10px;
    transform: rotate(45deg);
}
.popup-close::after {
    content: "";
    width: 2px;
    height: 20px;
    position: absolute;
    background-color: #231f20;
    top: 10px;
    left: 10px;
    transform: rotate(-45deg);
}

/* Поля форм */

.field {
    box-shadow: inset 0 0 0 2px #d3d3d2;
    border: none;
    background-color: #ffffff;
    color: #999999;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    border-radius: 5px;
    padding: 13px 15px;
}
.popup-field {
    border: 2px solid rgba(154, 154, 154, 0.52);
    background-color: #ffffff;
    color: #999999;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    border-radius: 5px;
    padding: 13px 15px;
}
.field:hover {
    box-shadow: inset 0 0 0 2px #c7c6c5;
    outline: none;
}
.field:focus {
    box-shadow: inset 0 0 0 2px #8fbdec;
    outline: none;
}

/* вторая страница */

.main-title {
    font-size: 35px;
    line-height: 41px;
}
.breadcrumbs {
    list-style: none;
}
.breadcrumbs-link {
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    border-bottom: 1px solid #a9bfb3;
    color: inherit;
}
.breadcrumbs-item:last-of-type .breadcrumbs-link {
    border-bottom: none;
}

.breadcrumbs-link:hover,
.breadcrumbs-link:focus,
.breadcrumbs-link:active {
    color: #ffbc9e;
    border-color: rgba(249, 172, 159, 0.3);
    outline: none;
}

/* Формы */
.filter-title {
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
}
.filter-field {
    font-size: 16px;
    line-height: 18px;
    font-weight: 500;
    color: inherit;
    background-color: rgba(248, 247, 244, 0.2);
    border-radius: 45px;
    padding: 10px 15px;
}

.sorting {
    background-color: transparent;
    border: none;
    color: inherit;
}
.sorting:hover, 
.sorting:focus {
    color: #323232;
    outline: none;
}

.filter-fieldset {
    border: none;
}
.btn-price {
    font-size: 0;
    border: none;
    background-color: #ababab;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    box-shadow: inset 0px 0px 0px 8px #ffffff;
}
.price-line {
    background-color: rgba(248, 247, 244, 0.5);
    width: 176px;
    height: 4px;
}
.price-range {
    background-color: inherit;
    height: inherit;
    width: 78px;
}
.btn-price:hover,
.btn-price:focus {
    width: 22px;
    height: 22px;
    cursor: pointer;
    box-shadow: inset 0px 0px 0px 9px #ffffff;
    outline: none;
}

.input-hidden[type="radio"],
.input-hidden[type="checkbox"] {
    position: relative;
}

.input-hidden[type="radio"]::before {
    content: "";
    width: 22px;
    height: 22px;
    position: absolute;
    background-color: transparent;
    box-shadow: inset 0px 0px 0px 4px #e6ebe9;
    border-radius: 50%;
    top: -3px;
    left: 0px;
}
.input-hidden[type="radio"][checked]::after {
    content: "";
    width: 8px;
    height: 8px;
    position: absolute;
    background-color: #e6ebe9;
    border-radius: 50%;
    top: 4px;
    left: 7px;
}

.filter-signature {
    margin-left: 27px;
    margin-right: 17px;
}

.input-hidden[type="checkbox"]::before {
    content: "";
    width: 20px;
    height: 20px;
    position: absolute;
    background-color: transparent;
    box-shadow: inset 0px 0px 0px 2px #e6ebe9;
    top: -3px;
    left: 0px;
}

.input-hidden[type="checkbox"][checked]::after {
    content: "";
    width: 8px;
    height: 14px;
    position: absolute;
    background-color: transparent;
    border: 4px solid #e6ebe9;
    border-left-width: 0;
    border-top-width: 0;
    transform: rotate(45deg);
    top: -6px;
    left: 7px;
}


.input-hidden[type="radio"]:hover::before,
.input-hidden[type="radio"]:focus::before {
    box-shadow: inset 0px 0px 0px 4px #ffffff;
}
.input-hidden[type="checkbox"]:hover::before,
.input-hidden[type="checkbox"]:focus::before {
    box-shadow: inset 0px 0px 0px 2px #ffffff;
}
.input-hidden[type="radio"][checked]:hover::after,
.input-hidden[type="radio"][checked]:focus::after {
    background-color: #ffffff;
}
.input-hidden[type="checkbox"][checked]:hover::after,
.input-hidden[type="checkbox"][checked]:focus::after {
    border-color: #ffffff;
}

.input-hidden[type="radio"]:disabled::before,
.input-hidden[type="checkbox"]:disabled::before {
    box-shadow: inset 0px 0px 0px 4px #b5c4bc;
}
.input-hidden[type="radio"][checked]:disabled::after {
    background-color: #b5c4bc;
}

.input-hidden[type="checkbox"][checked]:disabled::after {
    border-color: #b5c4bc;
}

.filter-btn {
    font-size: 16px;
    line-height: 18px;
    font-weight: 500;
    color: inherit;
    background-color: rgba(255, 255, 255, 0.188);
    box-shadow: inset 0 0 0 2px #fbfcfb;
    border: none;
    border-radius: 45px;
    padding: 10px 28px;
}
.filter-btn:hover, 
.filter-btn:focus {
    background-color: #fbfcfb;
    color: #323232;
    border: none;
    outline: none;
}
.filter-btn:active {
    background-color: #eaeaea;
    color: #323232;
    box-shadow: inset 0px 2px 1px 0px rgb(105, 105, 105);
    border: none;
    outline: none;
}

/* Пагинатор */

.paginator {
    list-style: none;
    display: flex;
}
.paginator-item {
    min-height: 26px;
    min-width: 26px;
}
.paginator-prev, 
.paginator-next {
    font-size: 0;
    position: relative;
}
.paginator-prev {
    opacity: 0.2;
}
.paginator-prev::after, 
.paginator-prev::before,
.paginator-next::after, 
.paginator-next::before{
    content: "";
    width: 1px;
    height: 6px;
    background-color: #ffffff;
    position: absolute;
}
.paginator-prev::after {
    top: -12px;
    left: 0px;
    transform: rotate(45deg);
}
.paginator-prev::before {
    top: -7.5px;
    left: 0px;
    transform: rotate(-45deg);
}
.paginator-next::after {
    top: -12px;
    left: 0px;
    transform: rotate(135deg);
}    
.paginator-next::before {
    top: -7.5px;
    left: 0px;
    transform: rotate(-135deg);
}
.paginator-link {
    color: inherit;
    position: relative;
}
.paginator-active,
.paginator-item:active {
    color: #323232;
}

.paginator-active .paginator-link::before {
    content: "";
    position: absolute;
    width: 26px;
    height: 26px;
    background-color: rgba(255, 255, 255, 1);
    border-radius: 50%;
    top: -3px;
    left: -8px;
    z-index: -10;
}

.paginator-item:hover .paginator-link::before,
.paginator-item:focus .paginator-link::before{
    content: "";
    position: absolute;
    width: 26px;
    height: 26px;
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 50%;
    top: -3px;
    left: -8px;
    z-index: -10;
}
.paginator-item:last-of-type:hover .paginator-link::before,
.paginator-item:last-of-type:focus .paginator-link::before,
.paginator-item:first-of-type:hover .paginator-link::before,
.paginator-item:first-of-type:focus .paginator-link::before {
    top: -18px;
    left: -13px;
}

.paginator-item:active .paginator-link::before {
    content: "";
    position: absolute;
    width: 26px;
    height: 26px;
    background-color: rgba(255, 255, 255, 1);
    border-radius: 50%;
    top: -3px;
    left: -8px;
    z-index: -10;
}

















