body {
    margin: 0;
    padding: 0;
    font-family: "Roboto", "Arial", sans-serif;
    font-size: 16px;
    line-height: 22px;
    font-weight: normal;
    color: #ffffff;
    background-color: #849d8f;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden {
    position: absolute;
    clip: rect(0 0 0 0 );
    width: 1px;
    width: 1px;
    margin: -1px;
}

.wraper {
    width: 1146px;
    margin: 0 auto;
    padding: 0 27px;
}

.main-header {
    padding-top: 10px;
    position: relative;
    display: flex;
    flex-wrap: wrap;
}

/* Навигационное меню */

.nav {
    display: flex;
    flex-wrap: wrap;
    min-width: 879px;
}

.nav-list {
    display: flex;
    list-style: none;
    color: #ffffff;
    align-items: flex-start;
    flex-wrap: wrap;
    padding: 0;
    margin: 0;
    padding-left: 10px;
    margin-top: 13px;
}

.nav-item {
    position: relative;
    border-radius: 45px;
}

.nav-link {
    color: inherit;
    font-weight: bold;
    line-height: 18px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    display: block;
    margin: 8px 13px;
}

.nav-link:hover,
.nav-link:focus {
    outline: none;
    background-color: #f7f6f3;
    color: #333333;
    border-radius: 45px;
    margin: 0;
    padding: 8px 13px;
}
.nav-link:active {
    box-shadow: inset 0px 2px 1px 0px rgb(105, 105, 105);
    border: none;
}

.nav-list .active {
    color: #ffffff;
    background-color: #d07058;
    border-radius: 45px;
    margin: 0;
    padding: 8px 13px;
    box-shadow: none;
    outline: none;
    border: none;
}
.nav-list .active:hover {
    margin: 0;
    padding: 8px 13px;
}

/* подменю */

.wrap-sub {
    padding-top: 10px;
    display: none;
}

.submenu {
    list-style: none;
    background-color: #f8f7f4;
    color: #323232;
    text-align: left;
    border-radius: 5px;
    box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.4);
    position: absolute;
    top: 40px;
    left: -7px;
    padding: 0;
    margin: 0;
    min-width: 142px;
    z-index: 10;
    display: inherit;
}

.nav-link:hover + .wrap-sub,
.nav-link:focus + .wrap-sub,
.wrap-sub:hover,
.nav-link:focus {
    display: block;
}

.submenu-link {
    color: inherit;
    font-size: 14px;
    font-weight: normal;
    line-height: 16px;
}

.submenu-link,
.submenu-item span {
    padding: 6px 19px;
    display: block;
    margin: 1.5px 0;
}

.submenu-item span {
    border-bottom: 1px solid #d1d0ce;
    margin-left: 6px;
    margin-right: 9px;
    padding-left: 13px;
}

.submenu-link:hover,
.submenu-link:focus {
    background-color: #fbded7;
    outline: none;
}

.submenu-item:last-of-type {
    margin-bottom: 6px;
}

.submenu-link:active {
    background-color: rgb(249, 172, 159);
}

.submenu .active {
    color: #ffffff;
    background-color: #d07058;
    margin: 0;
    padding: 6px 13px;
    box-shadow: none;
    outline: none;
    border: none;
    border-radius: 0;
}

.submenu .active:hover,
.submenu .active:focus,
.submenu .active:active {
    padding: 6px 13px;
}

/* Пользовательские кнопки */

.user-btns {
    list-style: none;
    padding: 0;
    margin: 0;
    margin-left: auto;
    display: flex;
    align-items: flex-start;
    margin-top: 15px;
}

.user-btn:not(:last-of-type){
    margin-right: 10px;
}

.form-hidden {
    padding-top: 10px;
    display: none;
}

.user-form {
    display: flex;
    flex-wrap: wrap;
    position: absolute;
    z-index: 10;
    top: 35px;
    right: 0;
    background-color: #f8f7f4;
    min-width: 277px;
    border-radius: 6px;
    box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.4);
    color: #323232;
    font-weight: normal;
    font-size: 13px;
    line-height: 16px;
    padding: 0;
    display: inherit;
}

.user-btn-image:hover .form-hidden,
.user-btn-image:focus .form-hidden {
    outline: none;
    display: flex;
}

.form-hidden:hover,
.form-hidden:focus {
    display: flex;
}

.user-btn-image {
    border: none;
    margin: 0;
    padding: 8px 16px;
    font-size: 14px;
    line-height: 16px;
    font-weight: 700;
    color: inherit;
    position: relative;
    padding: 7px 16px;
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 45px;
    display: flex;
}

.btn-magnifier {
    padding: 7px;
}

.user-btn-image svg {
    padding-right: 7px;
    margin-top: -2px;
}

.btn-magnifier svg {
    margin: 0;
    padding: 0;
}

.user-btn-image p {
    margin: 0;
    padding: 0;
}

.user-btn-image:not(.cart-complete):hover path,
.user-btn-image:not(.cart-complete):focus path,
.user-btn-image:not(.cart-complete):hover circle,
.user-btn-image:not(.cart-complete):focus circle {
    fill: #343434;
}

.user-btn-image:hover,
.user-btn-image:focus {
    background-color: #ffffff;
    color: #323232;
}

.user-btn-image:not(.cart-complete) .full-cart,
.cart-complete .empty-cart {
    display: none;
}

.cart-complete,
.cart-complete:hover,
.cart-complete:focus {
    background-color: #f7f6f3;
    color: #323232;
    border-radius: 45px;
}

/* Поля форм */

.field::-webkit-input-placeholder {
    color: #999999;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
}

.field::-moz-placeholder {
    color: #999999;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
}

.field:-moz-placeholder {
    color: #999999;
    background-color: #ffffff;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
}

.field:-ms-input-placeholder {
    color: #999999;
    background-color: #ffffff;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
}

.field {
    box-shadow: inset 0 0 0 2px #d3d3d2;
    border: none;
    background-color: #ffffff;
    color: #323232;
    font-weight: bolder;
    font-size: 16px;
    line-height: 24px;
    border-radius: 5px;
    padding: 13px 15px;
    margin: 0;
}

.field:hover {
    box-shadow: inset 0 0 0 2px #c7c6c5;
    outline: none;
}

.field:focus {
    box-shadow: inset 0 0 0 2px #8fbdec;
    outline: none;
}

.user-search .field {
    width: 311px;
    margin: 20px 15px;
}

.user-login .field {
    width: 241px;
    margin-bottom: 20px;
}

.user-login {
    padding: 20px 17px 22px 19px;
}

.btn-inter {
    padding: 13px 25px;
    margin-right: 20px;
}

.form-link {
    width: 50%;
}

.form-link a {
    color: #323232;
    font-size: 13px;
    line-height: 24px;
    font-weight: normal;
    border-bottom: 1px solid rgba(50, 50, 50, 0.3);
}

.form-link a:hover,
.form-link a:focus,
.form-link a:active {
    border-color: rgba(236, 89, 60, 0.3);
    outline: none;
    color: #e84d37;
}

.cart {
    padding: 26px 14px 23px 10px;
}

.cart-table {
    font-size: 13px;
    line-height: 16px;
    font-weight: normal;
    width: 540px;
    border-collapse: collapse;
    margin-bottom: 12px;
}

.total-worth {
    border-top: 1px solid #cacac7;
    font-size: 15px;
    line-height: 18px;
    font-weight: bold;
    text-align: right;
    padding: 0 10px;
    padding-top: 14px;
}

.table-goods {
    padding-left: 47px;
    position: relative;
    width: 265px;
    padding: 8px 5px 8px 45px;
}

.price-kg {
    width: 95px;
    padding: 8px 5px 8px 5px;
}

.worth {
    width: 60px;
    padding: 8px 5px 8px 5px;
}

.delete-product {
    vertical-align: top;
    width: 15px;
}

.btn-delete-product {
    margin-left: 10px;
    margin-top: 7px;
}

.row-2 .table-goods {
    padding-top: 23px;
}

.row-2 .delete-product {
    padding-top: 17px;
}

.table-cream-1::before {
    content: "";
    position: absolute;
    height: 33px;
    width: 33px;
    background-image: url(../img/mini-cream-orange.jpg);
    background-color: #f3c591;
    border-radius: 50%;
    left: 0px;
    top: 50%;
    transform: translateY(-50%);
}

.table-cream-2::before {
    content: "";
    position: absolute;
    height: 33px;
    width: 33px;
    background-image: url(../img/mini-cream-strawberry.jpg);
    background-color: #ee7495;
    border-radius: 50%;
    left: 0px;
    top: 50%;
    transform: translateY(-50%);
}

.cart-link {
    padding: 10px 15px;
    margin-left: auto;
}

/* Кнопки x */

.btn-delete-product {
    border: none;
    background-color: inherit;
    width: 11px;
    height: 11px;
    position: relative;
}

.btn-delete-product::after {
    content: "";
    width: 1px;
    height: 15px;
    position: absolute;
    background-color: #323232;
    top: 0px;
    left: 0px;
    transform: rotate(45deg);
}

.btn-delete-product::before {
    content: "";
    width: 1px;
    height: 15px;
    position: absolute;
    background-color: #323232;
    top: 0px;
    left: 0px;
    transform: rotate(-45deg);
}

/* Кнопки по всему документу */

.button {
    font-size: 18px;
    line-height: 24px;
    font-weight: bold;
    color: #ffffff;
    border-radius: 45px;
    border: none;
    background-color: #ed5a3d;
    background-image: linear-gradient(rgb(242, 104, 67), rgb(231,74,53));
    box-shadow: 0px 2px 2px rgba(172, 16, 0, 0.64);
    cursor: pointer;
}

.button:hover,
.button:focus {
    background-image: linear-gradient( #f58669, #ec6f5e);
    box-shadow: 0px 2px 2px 0px #ac1000;
    background-color: #f17c64;
    outline: none;
}

.button:active {
    background-image: linear-gradient( #d74632, #e1613e);
    box-shadow: inset 0px 2px 2px 0px #942718;
    background-color: #dc5539;
}

/* Блок контакты */

.top-contact {
    margin-left: auto;
    margin-top: -7px;
    text-align: end;
}

.text-time {
    font-size: 14px;
    line-height: 16px;
    font-weight: bold;
    text-align: end;
    margin: 0;
    margin-bottom: 5px;
}

.text-tel {
    font-size: 22px;
    line-height: 24px;
    font-weight: bold;
    color: inherit;
    text-align: center;
}

/* Слайдер */

.site-background-1 {
    background-color: #849d8f;
    background-image: url(../img/ice-cream-1.png);
    background-repeat: no-repeat;
    background-position: top center;
    transition: background-image 0.5s ease, background-color 0.5s ease;
    height: 100%;
    width: 100%;
}

.site-background-2 {
    background-color: #8996a6;
    background-image: url(../img/ice-cream-2.png);
    background-repeat: no-repeat;
    background-position: top center;
    transition: background-image 0.5s ease, background-color 0.5s ease;
    height: 100%;
    width: 100%;
}

.site-background-3 {
    background-color: #9d8b84;
    background-image: url(../img/ice-cream-3.png);
    background-repeat: no-repeat;
    background-position: top center;
    transition: background-image 0.5s ease, background-color 0.5s ease;
    height: 100%;
    width: 100%;
}

.slider {
    position: relative;
    padding-top: 275px;
    margin-bottom: 40px;
}

.slider-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.slide {
    display: none;
}

.slide-active {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.slide-text {
    font-size: 60px;
    font-weight: 800;
    line-height: 60px;
    margin: 0;
    width: 700px;
    margin-bottom: 27px;
    line-height: 60px;
    text-align: center;
}

.slider-controls {
    position: absolute;
    bottom: 22px;
    left: 0;
    z-index: 20;
}

.slider-control {
    border: 2px solid #ffffff;
    background-color: none;
    border-radius: 50%;
    background-color: transparent;
    width: 21px;
    height: 21px;
    margin-right: 4px;
}

.slider-btn {
    font-size: 32px;
    line-height: 44px;
    font-weight: 600;
    padding: 12px 44px;
    text-shadow: 0 2px 5px rgba(160, 32, 11, 0.76);
    display: inline-block;
    text-align: center;
    vertical-align: top;
    text-align: center;
}

.slider-control:hover,
.slider-control:focus {
    background-color: rgba(248, 247, 244, 0.4);
    cursor: pointer;
    outline: none;
}

.slider-controls .active,
.slider-control:active {
    background-color: #ffffff;
}

/* Блоки промо */

.promo {
    margin-bottom: 40px;
}

.promo-items {
    list-style: none;
    display: flex;
    justify-content: space-between;
    padding: 0;
    margin: 0;
}

.promo-item {
    background-color: #c91e3a;
    background-image: url(../img/background-crimson.jpg);
    background-repeat: no-repeat;
    background-size: auto;
    width: 560px;
    overflow: auto;
    border-radius: 14px;
    min-height: 229px;
    padding: 16px 20px 80px 20px;
    box-sizing: border-box;
    position: relative;
}

.promo-item:last-of-type {
    background-color: #532914;
    background-image: url(../img/background-chocolate.jpg);
}

.promo-title {
    font-size: 35px;
    line-height: 41px;
    font-weight: bold;
    margin: 0;
    padding: 0;
}

.promo-text {
    font-size: 18px;
    line-height: 22px;
    font-weight: bold;
}

.promo-btn {
    padding: 11px 22px;
    position: absolute;
    right: 21px;
    bottom: 24px;
}

/* Блоки товаров */

.goods-items {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.goods-item {
    position: relative;
    width: 267px;
    margin-bottom: 40px;
    text-align: center;
}

.goods-item-hit::before {
    content: "";
    background-color: #ffffff;
    background-image: url(../img/hit.svg);
    width: 61px;
    height: 61px;
    border-radius: 50%;
    position: absolute;
    z-index: 30;
}

.goods-item-image {
    border-radius: 50%;
    margin-bottom: 8px;
    position: relative;
}

.goods-text {
    font-size: 45px;
    font-weight: bold;
    text-align: left;
    text-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
    margin: 0;
    padding: 0;
    position: absolute;
    top: 220px;
    left: 0;
}

.goods-text span {
    font-size: 30px;
}

.text-description {
    display: inline;
    font-weight: 700;
    border-bottom: 1px solid #a9bfb3;
    position: relative;
}

.goods-btn {
    opacity: 0;
    display: block;
}

.goods-item:hover .goods-hover,
.goods-btn:focus + .goods-hover{
    content: "";
    position: absolute;
    border-radius: 5px;
    background-color: rgba(248, 247, 244, 0.2);
    box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.15);
    width: 108%;
    height: 123%;
    z-index: 10;
    top: -2%;
    left: -4%;
}

.goods-item:hover .text-description,
.goods-item:hover .goods-text,
.goods-item:hover .goods-item-image {
    z-index: 20;
}

.goods-item:hover .goods-btn,
.goods-btn:focus {
    opacity: 1;
    position: absolute;
    padding: 10px 16px;
    margin: 0 32px;
    z-index: 10;
    bottom: -55px;
    z-index: 30;
}

/* Описание магазина */

.info-list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
}

.info-item {
    width: 553px;
    position: relative;
}

.description-shop{
    background-image: url(../img/pattern.jpg);
    background-repeat: repeat;
    background-color: #e6d6b5;
    color: #323232;
    border-radius: 15px;
    padding: 10px;
    padding-bottom: 18px;
    margin-bottom: 40px;
}

.title-info {
    font-size: 24px;
    font-weight: 700;
    line-height: 30px;
    margin: 0;
    padding: 0;
    padding: 15px 10px 5px 10px;
}

.info-text {
    margin: 0;
    padding: 17px 10px 5px 67px;
}

.info-item:nth-of-type(2n) {
    padding-left: 14px;
}

.info-item:nth-of-type(1)::before {
    content: "";
    position: absolute;
    background-color: transparent;
    width: 49px;
    height: 49px;
    top: 2px;
    left: 12px;
    background-image: url(../img/mini-cream.svg);
}

.info-item:nth-of-type(2)::before {
    content: "";
    background-image: url(../img/cow.svg);
    width: 49px;
    height: 49px;
    position: absolute;
    top: 2px;
    left: 22px;
}

.info-item:nth-of-type(3)::before {
    content: "";
    background-image: url(../img/leaf.svg);
    width: 49px;
    height: 49px;
    position: absolute;
    top: 2px;
    left: 12px;
}

.info-item:nth-of-type(4)::before {
    content: "";
    background-image: url(../img/Thermometer.svg);
    width: 49px;
    height: 49px;
    position: absolute;
    top: 2px;
    left: 22px;
}


/* Блоки новости + подписка */

.row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
}

.row-box {
    background-color: #ffffff;
    color: #323232;
    width: 560px;
    border-radius: 14px;
    box-sizing: border-box;
}

.news {
    font-weight: 700;
    background-image: url(../img/background-strawberry.png);
    background-repeat: no-repeat;
    padding: 24px 21px;
    padding-right: 240px;
}

.title-blog {
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    padding: 0;
    margin: 0;
    margin-bottom: 4px;
}

.news-blog {
    color: inherit;
    font-weight: bold;
    font-size: 24px;
    line-height: 30px;
    width: 100px;
    background-image: linear-gradient(to bottom,rgba(0,0,0,0) 0,#323232 100%);
    background-repeat: repeat-x;
    background-position: 0 92%;
    background-size: 1px 2px;
}

.news a:hover,
.news a:focus,
.news a:active {
    outline: none;
    color: #e84d37;
    background-image: linear-gradient(to bottom,rgba(0,0,0,0) 0, rgba(236, 89, 60, 0.3) 100%);
}

.subscribe {
    background-image: repeating-linear-gradient(135deg, #f8f7f4 0px, #f8f7f4 7px, #92cdff 7px, #92cdff 14px, #f8f7f4 14px, #f8f7f4 21px, #fe9e90 21px, #fe9e90 28px, #f8f7f4 28px);
    padding: 5px;
}

.subscribe-bakcground {
    background-color: #f8f7f4;
    color: #5a5a5a;
    border-radius: 14px;
    padding: 29px 22px 30px 20px;
    box-sizing: border-box;
    min-height: 100%;
}

.subscribe-text {
    margin: 0;
    padding: 0;
    margin-bottom: 35px;
}

.subscribe-form {
    display: flex;
}

.subscribe-email {
    margin-right: 10px;
    width: auto;
    flex-grow: 1;
}

.subscribe-btn {
    padding: 11px 20px;
}

/* Карта */

.map {
    height: 430px;
}

.address {
    position: relative;
}

.address .wraper {
    height: 430px;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
}

.contact {
    background-color: #fdfefe;
    color: #323232;
    width: 302px;
    border-radius: 15px;
    padding: 32px 25px;
    box-sizing: border-box;
    position: absolute;
    z-index: 20;
    right: 27px;
    top: 50%;
    transform: translateY(-50%);
}

.address-text {
    font-size: 14px;
    line-height: 20px;
    color: inherit;
    margin: 0;
    padding: 0;
    margin-bottom: 25px;
}

.address-text b {
    font-size: 18px;
    line-height: 24px;
    font-weight: 700;
}

.feedback-btn {
    padding: 10px 28px;
}

.map-image {
    margin: 0 auto;
    display: block;
}

/* footer */

.main-footer {
    padding-top: 25px;
    padding-bottom: 25px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
    border-top: 1px solid #a9bfb3;
}

/* Соц. сети */

.social-list {
    list-style: none;
    display: flex;
    padding: 0;
    margin: 0;
}

.social-link {
    display: block;
    width: 32px;
    height: 32px;
    border: 2px solid rgba(255, 255, 255, 0.5);
    border-radius: 50%;
}

.social-button:not(:last-of-type) {
    margin-right: 14px;
}

.social-link path {
    fill: rgba(255, 255, 255, 0.8);
}

.social-link:focus {
    outline: none;
}

.social-link:hover path,
.social-link:focus path {
    fill: #ffffff;
    border: 2px solid rgba(255, 255, 255, 0.7);
}

.social-link:active path {
    fill: #e9e9e9;
    border: 2px solid rgba(255, 255, 255, 0.7);
}

/* Ссылки в футере */

.info-links {
    display: flex;
}

.links-list {
    list-style: none;
    padding: 0;
    margin: 0;
    padding-left: 18px;
    padding-right: 15px;
}

.info-link {
    font-size: 13px;
    line-height: 18px;
    font-weight: normal;
    color: inherit;
    border-bottom: 1px solid #a9bfb3;
}

.info-link span {
    font-weight: bold;
    position: relative;
}

.info-link span::before {
    content: "";
    background-image: url(../img/heart.svg);
    width: 15px;
    height: 13px;
    position: absolute;
    top: 2px;
    right: 115px;
    border: none;
}

.info-link:hover,
.info-link:focus,
.info-link:active {
    color: #ffbc9e;
    border-color: rgba(249, 172, 159, 0.3);
    outline: none;
}

/* Копирайт */

.copyright {
    margin-top: -8px;
}

.text-copyright {
    font-size: 12px;
    line-height: 18px;
    font-weight: normal;
    margin: 0;
    padding: 0;
}

.copyright-link {
    font-size: 12px;
    line-height: 18px;
    font-weight: normal;
    color: inherit;
    border-bottom: 1px solid #a9bfb3;
}

.copyright .copyright-link:hover,
.copyright .copyright-link:focus,
.copyright .copyright-link:active {
    color: #ffbc9e;
    border-color: rgba(249, 172, 159, 0.3);
    outline: none;
}

/* Попап */

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  display: none;
}

.modal-popup {
    background-color: #f8f7f4;
    color: #323232;
    width: 478px;
    padding: 24px 25px 27px 25px;
    border-radius: 10px;
    position: fixed;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
    z-index: 100;
    display: inherit;
}

.modal-show {
    display: block;
}

.popup-title {
    font-size: 24px;
    line-height: 28px;
    font-weight: 700;
    margin: 0;
    padding: 0;
    margin-bottom: 20px;
}

.popup-close {
    font-size: 0;
    width: 20px;
    height: 20px;
    position: relative;
    border: none;
    background-color: inherit;
    position: absolute;
    top: 15px;
    right: 15px;
}

.popup-close::before {
    content: "";
    width: 2px;
    height: 20px;
    position: absolute;
    background-color: #231f20;
    top: 0;
    left: 0;
    transform: rotate(45deg);
}

.popup-close::after {
    content: "";
    width: 2px;
    height: 20px;
    position: absolute;
    background-color: #231f20;
    top: 0;
    left: 0;
    transform: rotate(-45deg);
}

.popup-form {
    display: flex;
    flex-direction: column;
}

.popup-form input {
  width: 60%;
  margin-bottom: 20px;
}

.popup-form textarea {
  margin-bottom: 25px;
}

.popup-btn {
    padding: 10px 23px 13px 25px;
    margin-left: auto;
}

/* вторая страница */

.inner-page {
    background-image: linear-gradient(#9db1a5 0%, #849d8f 590px);
}

.container {
    display: flex;
    flex-direction: column;
}

.breadcrumbs {
    list-style: none;
    display: flex;
    padding: 0;
    margin: 0;
    margin-top: auto;
}

.breadcrumbs-link {
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    border-bottom: 1px solid #a9bfb3;
    color: inherit;
}

.breadcrumbs-item:last-of-type .breadcrumbs-link {
    border-bottom: none;
}

.breadcrumbs-link:hover,
.breadcrumbs-link:focus,
.breadcrumbs-link:active {
    color: #ffbc9e;
    border-color: rgba(249, 172, 159, 0.3);
    outline: none;
}

.breadcrumbs-item:not(:last-of-type)::after {
    content: "»";
    padding-left: 5px;
    padding-right: 7px;
}

.main-title {
    font-size: 35px;
    line-height: 41px;
    padding: 0;
    margin: 0;
    margin-bottom: 26px;
}

/* Формы */

.filters {
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 24px;
}

.filter-title {
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    padding-left: 16px;
    padding-bottom: 5px;
}

.filter-field {
    font-size: 16px;
    line-height: 18px;
    font-weight: 500;
    color: inherit;
    background-color: rgba(248, 247, 244, 0.2);
    border-radius: 45px;
    margin-right: 15px;
    display: flex;
}

.filter-sorting {
    padding: 8px 11px;
}

.sorting {
    background-color: transparent;
    border: none;
    color: inherit;
}

.sorting:hover,
.sorting:focus {
    color: #323232;
    outline: none;
}

.filter-fieldset {
    border: none;
    padding: 0;
    margin: 0;
    margin-bottom: 16px;
}

.filter-price {
    position: relative;
    padding: 7px 21px;
}

.btn-price {
    border: none;
    background-color: #ababab;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    box-shadow: inset 0px 0px 0px 8px #ffffff;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.btn-price:first-of-type {
    left: 36px;
}

.btn-price:last-of-type {
    left: 134px;
}

.price-line {
    background-color: rgba(248, 247, 244, 0.5);
    width: 176px;
    height: 4px;
    margin: 9px 0;
}

.price-range {
    background-color: inherit;
    height: inherit;
    width: 75px;
    position: absolute;
    left: 57px;
}

.btn-price:hover,
.btn-price:focus {
    width: 22px;
    height: 22px;
    cursor: pointer;
    box-shadow: inset 0px 0px 0px 9px #ffffff;
    outline: none;
}

.filter-signature {
    display: flex;
}

.filter-fatness {
    padding: 6px 17px;
}

.filter-fatness .filter-signature {
    padding-top: 6px;
}

.filter-fatness .filter-signature:not(:last-of-type) {
    margin-right: 17px;
}

.filter-stuffing {
    padding: 5px 16px;
    min-width: 672px;
    justify-content: space-between;
}

.filter-stuffing .filter-signature {
    padding-top: 2px;
}

.filter-stuffing .filter-signature:not(:last-of-type) {
    margin-right: 1px;
}

.radio-indicator {
    position: relative;
    width: 22px;
    height: 22px;
    background-color: transparent;
    box-shadow: inset 0px 0px 0px 4px #e6ebe9;
    border-radius: 50%;
    margin-right: 10px;
}

.checkbox-indicator {
    position: relative;
    width: 20px;
    height: 20px;
    background-color: transparent;
    box-shadow: inset 0px 0px 0px 2px #e6ebe9;
    margin-right: 12px;
}

.filter-signature input[type="radio"]:checked ~ .radio-indicator::before {
    content: "";
    width: 8px;
    height: 8px;
    position: absolute;
    background-color: #e6ebe9;
    border-radius: 50%;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
}

.filter-signature input[type="checkbox"]:checked ~ .checkbox-indicator::before {
    content: "";
    width: 8px;
    height: 14px;
    position: absolute;
    background-color: transparent;
    border: 4px solid #e6ebe9;
    border-left-width: 0;
    border-top-width: 0;
    transform: rotate(45deg) translateX(-50%);
    top: 0%;
    left: 50%;
}

.filter-signature:hover input[type="radio"] ~ .radio-indicator,
.filter-signature input[type="radio"]:focus ~ .radio-indicator {
    box-shadow: inset 0px 0px 0px 4px #ffffff;
}

.filter-signature:hover input[type="radio"]:checked ~ .radio-indicator::before, 
.filter-signature input[type="radio"]:focus:checked ~ .radio-indicator::before {
    background-color: #ffffff;
}

.filter-signature input[type="radio"]:disabled ~ .radio-indicator {
    box-shadow: inset 0px 0px 0px 4px #b5c4bc;
}

.filter-signature input[type="radio"]:checked:disabled ~ .radio-indicator::before {
    background-color: #b5c4bc;
}

.filter-signature input[type="checkbox"]:disabled ~ .checkbox-indicator {
    box-shadow: inset 0px 0px 0px 2px #b5c4bc;
}

.filter-signature input[type="checkbox"]:checked:disabled ~ .checkbox-indicator::before {
    border-color: #b5c4bc;
}

.filter-signature:hover input[type="checkbox"] ~ .checkbox-indicator,
.filter-signature input[type="checkbox"]:focus ~ .checkbox-indicator {
    box-shadow: inset 0px 0px 0px 2px #ffffff;
}

.filter-signature:hover input[type="checkbox"]:checked ~ .checkbox-indicator::before, 
.filter-signature input[type="checkbox"]:focus:checked ~ .checkbox-indicator::before {
    border-color: #ffffff;
}

.filter-btn {
    font-size: 16px;
    line-height: 18px;
    font-weight: 700;
    color: inherit;
    background-color: rgba(255, 255, 255, 0.188);
    box-shadow: inset 0 0 0 2px #fbfcfb;
    border: none;
    border-radius: 45px;
    padding: 9px 28px;
    margin-bottom: 15px;
    align-self: flex-end;
}

.filter-btn:hover,
.filter-btn:focus {
    background-color: #fbfcfb;
    color: #323232;
    border: none;
    outline: none;
}

.filter-btn:active {
    background-color: #eaeaea;
    color: #323232;
    box-shadow: inset 0px 2px 1px 0px rgb(105, 105, 105);
    border: none;
    outline: none;
}

/* Пагинатор */

.paginator {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    align-items: center;
    margin-left: auto;
    margin-top: 33px;
    margin-bottom: 28px;
}

.paginator-link {
    display: block;
    color: inherit;
}

.paginator-prev,
.paginator-next {
    height: 8px;
    width: 8px;
    border: 1px solid #ffffff;
    border-left-width: 0;
    border-bottom-width: 0;
    transform: rotate(45deg);
    background-color: transparent;
    margin-right: 0;
    margin-left: 14px;
}

.paginator-prev {
    transform: rotate(-135deg);
    margin-right: 14px;
    margin-left: 0;
}

.paginator-link:not(.paginator-prev):not(.paginator-next) {
    padding: 3px 10px;
    border-radius: 50%;
}

.paginator-link:hover,
.paginator-link:focus {
    background: rgba(255, 255, 255, 0.2);
    outline: none;
}

.paginator-link:active {
    background: rgba(255, 255, 255, 1);
    color: #323232;
}

.paginator-active,
.paginator-active:hover,
.paginator-active:focus {
    background: rgba(255, 255, 255, 1);
    color: #323232;
    outline: none;
}

.paginator-prev {
    border-color: rgba(255, 255, 255, 0.2);
}

.paginator-prev,
.paginator-next,
.paginator-prev:hover,
.paginator-next:hover,
.paginator-prev:focus,
.paginator-next:focus,
.paginator-prev:active,
.paginator-next:active {
    background-color: transparent;
}
